# Directories
train/
val/
test/
data/
logs/
checkpoints/
results/
colab_results/
runs/
__pycache__/
.venv/
venv/
env/
.vscode/
.idea/
.ipynb_checkpoints/

# Files
*.pyc
*.pth
*.pt
*.npy
.env
.DS_Store
